<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Bash Notes</title>
    <h1>Login to manage your notes</h1>
    <form action="/login" method="POST">
        <p>Enter your username or pick one: <input type="text" name="username" placeholder="Username"></p>
        <p>Enter a password or pick one: <input type="password" name="pass" placeholder="Password"></p>
        <p>If you need to create an account, confirm your password here: <input type="password" name="conf" placeholder="Confirm Password"></p>
        <input type="submit" name="submit">
    </form>
</head>
<body>

</body>
</html>
